LibraryService/Schemas/BookSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://LibraryStorage.Book/1.0.0.0" elementFormDefault="qualified" targetNamespace="http://LibraryStorage.Book/1.0.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Book" type="tns:Book" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Authors" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Publication" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Publisher" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Edition" type="xs:date" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Pages" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" form="unqualified" name="Remark" type="xs:string" />
    </xs:sequence>
    <xs:attribute name="ISBN" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="Author" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>